<%- include("./partials/head.ejs") %>
<table>
  <a href="/pokemon/new"><button><strong>Add New Pokemon</strong></button></a>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>IMG</th>
  </tr>
  <% for(let i = 0; i < pokemon.length; i++) { %>
  <tr>
    <td><%= pokemon[i].id %></td>
    <td><a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a></td>
    <td>
      <a href="/pokemon/<%= i %>">
        <img src="<%= pokemon[i].img %>" width="50px" />
      </a>
    </td>
    <td><a href="/pokemon/<%=i %>/edit"><button>Edit</button></a></td>

    <form action="/pokemon/<%=i %>?_method=DELETE" method="POST">
      <td>
        <input type="submit" value="Delete">
      </td>
    </form>
  </tr>
  <% } %>
</table>
<%- include("./partials/footer.ejs") %>
